dwm.color0: #1e1e2e
dwm.color1: #6c7086
dwm.color2: #cdd6f4
dwm.color3: #cba6f7
dwm.color4: #b4befe
dwm.color5: #FFFFFF
dwm.color6: #cdd6f4
dwm.color7: #1e1e2e
dwm.color8: #FF00AA

dmenu.color1: #cdd6f4
dmenu.color2: #1e1e2e
dmenu.color3: #1e1e2e
dmenu.color4: #cba6f7

dmenu.font: Hack Nerd Font:style=bold:size=12
